body {
    background-color: rgb(220, 221, 186);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    margin-bottom: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 1px 1px 2px rgb(56, 190, 123);
    margin-bottom: 20px;
}
h1 {
    color: rgb(11, 116, 98);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
}
#boton-carrito {
    position: inherit;
    border: none;
    color: rgba(228, 141, 27, 0.795);
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(0, 10, 10);
    background-color: rgba(8, 145, 115, 0.877);
}
#boton-carrito:focus {
    outline: none;
}


#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 1px 1px rgb(74, 179, 138);
}

select{
    display: inline;
    text-align: center;
    border: 1px solid rgb(102, 241, 165);
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(223, 9, 212, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(225, 65, 164);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 65, 164);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}
.card .card-image .card-title{
    color :rgb(134, 32, 95);
    position:unset
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(11, 172, 164);
}

.boton-eliminar {
    background-color: white;
    color: rgb(238, 49, 36);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}